body {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #d6d6d6;
    padding: 2vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    min-height: 94vh;
}
.card {
    border-radius: 8px;
    position: relative;
    padding: 1vh;
    text-align: center;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.card__link {
    color: #d6d6d6;
}
.card__input {
    width: 15vh;
    margin-left: auto;
    margin-right: auto;
}
.card__button {
    max-width: 100px;
    background-color: #464646;
    border-radius: 8px;
    margin: 2vh auto;
    text-align: center;
    position: relative;
    box-shadow: 0 -4px 8px #00000033;
    display: flex;
    flex-direction: column;
}
.card__button_text {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #d6d6d6;
}

.footer__text {
    color: #636363;

}
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2vh;
    text-align: center;
    gap: 2vh;
}

.game {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.backgroundPiture {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url('../pictures/castle.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .backgroundPiture {
        position: relative;
        width: 70%;
        height: 80vh;
        background-image: url('../pictures/castle.jpg');
        background-size: cover;
        background-position: center;
        overflow: hidden;
        border-radius: 15px;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    text-align: center;
}

.game__text {
    font-size: 24px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.game__button {
    background-color: #1d1d1d; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
}

.card__table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


